/* AUDIOWIDE FONT */
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

.stackContainer {
  padding: 4rem;
}

.stackContainer h1 {
  padding: 2rem 0rem;
  text-align: center;
  font-family: "Audiowide";
}

.stackList {
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.stackItem {
  border-radius: 10px;
  border: none;
  padding: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.hoverText {
  visibility: hidden;
  width: max-content;
  background-color: rgb(65, 62, 62);
  color: #fff;
  border: 0.5px solid rgb(65, 62, 62);
  text-align: center;
  padding: 2px 3px;
  position: absolute;
  z-index: 1;
  bottom: -50%;
  opacity: 0;
  transition: opacity 0.3s;
}

.stackItem:hover .hoverText {
  visibility: visible;
  opacity: 1;
}
