/* AUDIOWIDE FONT */
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

.stackContainer {
  padding: 4rem;
}

.stackContainer h1 {
  padding: 2rem 0rem;
  text-align: center;
  font-family: "Audiowide";
}

.stackList {
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.stackItem {
  border-radius: 10px;
  border: solid 1.8px #948282;
  padding: 4px;
}
